*.dll
*.dylib
*.o
*.so
*~
.deps
aclocal.m4
autom4te.cache
buildsys.mk
config.h
config.h.in
config.log
config.status
configure
DerivedData
docs
extra.mk
src/ObjXMPP.framework
tests/tests
tests/storage.binarypack
