*.o
*.so
*.dylib
*~
.deps
aclocal.m4
autom4te.cache
buildsys.mk
config.h
config.h.in
config.log
config.status
configure
DerivedData
docs
extra.mk
ObjXMPP.xcodeproj/*.mode1v3
ObjXMPP.xcodeproj/*.pbxuser
ObjXMPP.xcodeproj/project.xcworkspace
ObjXMPP.xcodeproj/xcuserdata
tests/tests
